# XDebug
INSTALL_XDEBUG=0
XDEBUG_MODE=off # or XDEBUG_MODE=debug
XDEBUG_CONFIG=client_host=host.docker.internal client_port=9003

# Docker
WEB_HOST_PORT=8080

# Versions
PHP_VERSION="8.3"
CIVICRM_VERSION="5.81"
WEBFORM_VERSION="6.3"
WEBFORM_CIVICRM_VERSION="6.2"
WEBFORM_VALIDATION_VERSION="2.0"

# MySQL
DB_HOST=mysql
DB_PORT=3306
DB_NAME=drupal_database
DB_USER=drupal_user
DB_PASSWORD=database_password

# Traefik
TRAEFIK_HOST=aicivi.localhost
TRAEFIK_SERVICE=aicivi
TRAEFIK_ENTRYPOINTS=web,websecure
TRAEFIK_CERTRESOLVER_LABEL=traefik.http.routers.${TRAEFIK_SERVICE}.tls.certresolver=tlssolver

# Drupal
DRUPAL_HOST=aicivi.localhost
DRUPAL_USER=admin
DRUPAL_PASSWORD=admin